@font-face {
	font-family: 'DancingScript-Regular';
	src: url(../fuentes/DancingScript-Regular.ttf);
}
body {font-family: DancingScript-Regular;
background-color:#02010a;
margin-left: auto;
margin-right:auto;
}
@-webkit-keyframes slicein{
0%{
margin-top:150%;
}
60%{
margin-top:-5%;
}
100%{
margin-top:0%;
}
}
#contenedor{
	width: 900px;
	background-color:#02010a;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 0px 0px;
	animation:slicein 0.6s;
	}

#encabezado{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
	background-color:#5b7989;
	border-radius: 10px 10px 0px 0px;
	color:white;
}
.links{
	color:white;
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

#trio1{
	background-color:#d5c75f ;
	text-align: center;
}
#trio2{
	background-color:#d5c75f ;
	text-align: center;
}
.sombra {
	box-shadow: 2px 1px 0px 0px black;
}
#foto1 img{
	webkit-filter: blur(10px);
	filter:blur(10px);
}
#foto2, #foto4, #foto6 img{
	webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}
#foto3 img{
	webkit-filter: sepia(90%);
	filter:sepia(90%);
}
#legales{
background-color:#C6d5c5;
padding-left:10px;
border-radius: 0px 0px 10px 10px;
font-size: 20px;
}

#legales p{
	width:100%;
	text-align:justify;

}
.redes{
	width:25px;
	height:25px;
}

@media (min-width:900px) and (max-width:1680px){
	#encabezado h1{
		width:50%;
	}
	#encabezado p{
	width:50%;
	text-align: right;
	padding-top:10px;
	}
#encabezado{
display:flex;
flex-direction: row;
}
.sombra{
	width:85%;
}
#trio1, #trio2{
	display:flex;
	flex-direction: row;
}

#legales {
font-size: 20px;
padding-left:40px;
	display: flex;
	flex-direction: row;
}
}


@media all and (max-width:900px){
	#encabezado h1{
		width:100%;
		text-align: center;
	}
	#encabezado p{
	width:100%;
	text-align:center;
	padding-top:10px;
	}
#encabezado{
display:flex;
flex-direction:column;
}
.sombra{
	width:85%;
}
#trio1, #trio2{
	display:flex;
	flex-direction:column;
}

#legales {
	font-size: 25px;
	padding-left: 150px;
	display: flex;
	flex-direction:column;
}
}
